@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  
  @font-face {
    font-family: The-Girl-Next-Door;
    src: url('../fonts/poppins/thegirlnextdoor.ttf'); 
  }

body {
    background-color: #A162DF  ;
}

.rectangle-static {
    height: 600px;
    width: 900px;
    background-color: #fffbec;
    box-shadow: 20px 20px #feef6a;
    border-radius: 15px;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
}

.image-alignment{
    display: block;
    text-align: center;
}

a {
    text-decoration: none;
    color: #333333;
}
.group-btn {
    display: block;
    width: 1000px;
    margin-right: 50px;
    text-align: center;
}

button{
    background: #D0B1EF;
    border-radius: 10px;
    font-family: Poppins-Medium;
    font-size: 24px;
    color: #333333;
    border-color: #fdd54600;
    width: 200px;
    height: 50px;
    margin-right: 70px;
}

button:hover {
    background-image:linear-gradient(120, #fdd546, #a162df);
    cursor: pointer;
}

.header {
    display: block;
    font-family: The-Girl-Next-Door;
    font-size: 36px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  }

.spacer  {
    margin-top: 100px;
    margin-bottom: 100px;
}
