body {
    background-color: #A162DF  ;
}

.rectangle-static {
    height: 600px;
    width: 800px;
    background-color: #fffbec;
    box-shadow: 10px 10px #feef6a;
    border-radius: 10px;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    
}

.image-alignment{
    margin-right: 90px;

}

button{
    background-color: #A162DF;
    border-radius: 5px;
    border: 1px solid;
}

button:hover {
    background-image:linear-gradient(120, #fdd546, #a162df);
}