<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../css/util.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="top-bar">
		<img src="../assets/ToshiWithSlogan1.png" alt="Toshi Logo" height = "90">
		<a class = "menu-btn" href="profile.html">Profile</a>
		<a class = "menu-btn2" href="login.html">Logout</a>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div>
		<span class="page-header">
			Decide Now!
		</span>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="container-dashboard">
		<a class="dash-btn" href="profile.html">
			<div class="page-content">Randomizer</div>
		</a>
		<div class=rectangle></div>
		<a class="dash-btn" href="profile.html">
			<div class="page-content">Randomizer</div>
		</a>
	</div>
	<br>
	<br>
	<div class="container-dashboard">
		<a class="dash-btn" href="profile.html">
			<div class="page-content">Randomizer</div>
		</a>
		<div class=rectangle></div>
		<a class="dash-btn" href="profile.html">
			<div class="page-content">Randomizer</div>
		</a>
	</div>
</body>
</html>