<?php
include("../php/randomizer.php");
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randomizer</title>
<!--===============================================================================================-->	
<link rel="stylesheet" type="text/css" href="../css/util.css">
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="script" type="text/javascript" href="../javascript/main.js";
<!--===============================================================================================-->
</head>
<body>
    <div class="top-bar">
		<img src="../assets/ToshiWithSlogan1.png" alt="Toshi Logo" height = 100%>
		<a class = "menu-btn1" href="dashboard.html">Dashboard</a>
		<a class = "menu-btn2" href="profile.html">Profile</a>
		<a class = "menu-btn3" href="aboutus.html">About Us</a>
		<a class = "menu-btn4" href="logout.html">Logout</a>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div>
		<span class="page-header">
			Randomizer
		</span>
	</div>
    <br>
    <br>
    <br>
    <div class="container-dashboard">
		<a class="dash-btn">
			<div class="page-content">Get Started</div>
		</a>
	</div>
    <br>
    <h2>You have 6 choices! <br>Select below to begin.</h2>
    <br>
    <div class="container-dashboard">
		<a class="dash-btn">
			<div class="page-content">Enter Choices</div>
		</a>
	</div>
    <br>
    <br>
    <br>
    <br>
    <div class="toshidecidesbar2">
        <br>
        <h2 class="page-header">Toshi  Decides...</h2>
        <div class="page-header">Pizza!</div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div>
            <span class="note">
                Your Options Were:
                <span class="options">
                    <ul>
                        <li>Pizza</li>
                        <li>Sushi</li>
                        <li>Instant Noodles</li>
                        <li>Salad</li>
                        <li>Ramen</li>
                        <li>Tim Hortons</li>
                    </ul>
                </span>
            </span>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        <span class="note">
            Your Options Were:
            <span class="options">
                <ul>
                    <li>Pizza</li>
                    <li>Sushi</li>
                    <li>Instant Noodles</li>
                    <li>Salad</li>
                    <li>Ramen</li>
                    <li>Tim Hortons</li>
                </ul>
            </span>
        </span>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> 
</body>
</html>