
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toshi</title>
    <!--============================================================================-->
    <link rel="stylesheet" type="text/css" href="../css/static.css">
    <!--======================================-->
</head>
<body>
    	<div class="rectangle-static">
            <span class="image-alignment">
                <img src="../assets/ToshiWithSlogan1.png" alt="Toshi Logo" width = "340">
            </span>
            <button type="button">
                <a href="login.html">LOGIN</a>
            </button>
            <button>
                REGISTER NOW
               <a href="register.html"></a>
            </button>
           
        </div>
	

    
</body>
</html>