<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toshi</title>
    <!--============================================================================-->
    <link rel="stylesheet" type="text/css" href="../css/static.css">
    <!--======================================-->
</head>
<body>
    <br>
    <br>
    <br>
    	<div class="rectangle-static">
            <br>
            <br>
            <br>
            <br>
            <span class="header">
                Welcome to Toshi Decision-making!
            </span>
            <div class="spacer">
                <span class="image-alignment">
                    <img src="../assets/ToshiWithSlogan1.png" alt="Toshi Logo" width = "340">
                </span>
            </div>
            <div class="group-btn">
                <a href="login.html">
                    <button>LOGIN</button>
                </a>
                <a href="register.html">
                    <button>REGISTER NOW</button>
                </a>
            </div>
        </div>
	    
</body>
</html>