<?php
include("../php/randomizer.php");
?>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toshi Randomize Input</title>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../css/util.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<!--Toshi Logo-->
				<span class="login100-form-title p-b-26">
					Randomize
				</span>
				<img src="../assets/ToshiWithSlogan1.png" alt="Toshi Logo" width = "340">
				<!--Register Now-->
				<form class="login100-form validate-form" method="POST" action="<?php echo htmlspecialchars($_SERVER['PHP_SELF'])?>">
					<!--First Name-->
					<div class="space-padding">
						<div class="wrap-input100 validate-input" data-validate = "IE Harry">
							<input class="input100" type="text" name="firstname">
							<span class="focus-input100" data-placeholder="First Name"></span>
						</div>
						<span class="error"><?php echo $firstname_err;?></span>
					</div>
				
					
					<!--Submit -->
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<button class="login100-form-btn">
								<input class="login100-form-bgbtn" type="submit" value="REGISTER NOW">
							</button>
						</div>
					</div>
					</div>
				</form>
				<!--Form ends-->
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
</body>
</html>