<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login to Toshi</h1>
    <h3>This is or that ?</h3>
    <!-- Login form-->
    <form method="post" action="../php/login.php">
        <!--Username-->
        <label for="username"> Username:</label><br>
        <input type="text" name="username" id="username" placeholder="Enter Username" required><br>
        <br>
        <!--Email-->
        <label for="email">Email:</label><br>
        <input type="text" name="email" id="email" placeholder="Enter Email" required><br>
        <br>
        <!--Password-->
        <label for="password">Password:</label><br>
        <input type="password" name="password" id="password" placeholder="Enter Password" required><br>
        <br>
        <!-- Login Button-->
        <input type="submit" value="Login">
    </form>
</body>
</html>