<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../css/util.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="container-dashboard">
		<div class="top-bar">
			<img src="../assets/ToshiWithSlogan1.png" alt="Toshi Logo" height = "90">
			<a class = "menu-btn" href=#>Profile</a>
			<a class = "menu-btn2" href="login_page.php">Logout</a>
		</div>
		<span class="login100-form-title p-b-26">
			Profile
		</span>
	</div>
</body>
</html>