<?php
include("../php/randomizer.php");
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randomizer</title>
<!--===============================================================================================-->	
<link rel="stylesheet" type="text/css" href="../css/util.css">
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<!-- <link rel="script" type="text/javascript" href="../javascript/main.js"; -->
<!--===============================================================================================-->
</head>
<body>
    <div class="top-bar">
		<img src="../assets/ToshiWithSlogan1.png" alt="Toshi Logo" height = 100%>
		<a class = "menu-btn1" href="dashboard.html">Dashboard</a>
		<a class = "menu-btn2" href="profile.html">Profile</a>
		<a class = "menu-btn3" href="aboutus.html">About Us</a>
		<a class = "menu-btn4" href="logout.html">Logout</a>
	</div>
	<br>
	<br>
	<br>
	<br>
    <div>
		<span class="page-header">
			Randomizer
		</span>
	</div>
    <br>
    <br>
    <br>
    <!--Trigger/Open Modal-->
    <div>
        <button id="get-started">
            <span class="startrandom">Get Started</span>
                
        </button>
    </div>
    <!--The Modal: Num Inputs-->
    <div id="modal1" class="modal">
        <!--Modal Content-->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="post" action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']);?>">
                <div class="wrap-input100 htmlvalidate-input">
                    <input class="input100" type="text" name="num-inputs" id="num-inputs" required>
                    <span class="focus-input100" for="num-inputs" data-placeholder="How Many Choices?"></span> 
                </div>
                <span class="error"><?php echo $num_input_err;?></span>
                <button class="lil-btn" id="nextBtn">
                    <input type="submit" value="Next">
                </button>
            </form>
        </div>
    </div>

    <!--Modal Num Inputs Scripts-->
    <script>
        // Get the modal
        var modal = document.getElementById("modal1");
        //Get the button that opens the modal
        var btn = document.getElementById("get-started");
        // Get the span element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }
        // When the user clicks on x to close the modal
        span.onclick = function(){
            modal.style.display = "none";
        }
    </script> 
    <span><?php echo $form_input; ?></span>
    <!-- Modal : user inputs -->
    <!-- <div id="modal2" class="modal"> -->
        <!--Modal content-->
        <!-- <div class="modal-content">
            <span class="close2">&times;</span>
            <form method="post" action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']);?>"> -->
                <!--Input fields -->
                <!--Randomize Button-->
                <!-- <button class="lil-btn" id="randomize">
                    <input type="submit" value="Randomize">
                </button>
            </form>
        </div>
    </div> -->

    <!--Script: Modal user inputs-->
    <!-- <script>
        // Get the modal
        var modal2 = document.getElementById("modal2");
        // Get the button that opens the modal
        var btn = document.getElementById("nextBtn");
        // Get the span element that closes the modal
        var span = document.getElementByClassName("close")[0];
        // When the user clicks the buttin, open the modal
        btn.onclick = function() {
            modal.style.display = "none";
            modal2.style.display = "block";
        }
        // When the user clicks the x, close the modal
        span.onclick = function() {
            modal2.style.display = "none";
        }
    </script> -->


</body>
</html>